<tr>
  <td><%= user.name %></td>
  <td>
    <% if (@current_user == user) %>
      <%= user.email %>
    <% end %>
      </td>

  <td>
    <% if (@current_user == user) %>
      <% if user.drawn %>
        <%= button_to 'Przypomnij mi',
                      {:controller => :home,
                       :action => :remind_me,
                       :id => user.id},
                      {method: :get, class: 'btn btn-info'}%>
      <% else %>
        <%= button_to 'losuj', {:controller => :home,
                                :action => :draw_lots,
                                :id => user.id},
                      method: :get, class: 'btn btn-success' %>
      <% end %>
    <% else %>
      <% if user.drawn %>
        Oczywiście!
      <% else %>
        Jeszcze nie
      <% end %>
    <% end %>

  </td>

</tr>
