<table class="table table-striped top-buffer">
  <thead>
    <tr>
      <th>Kto zacz?</th>
      <th>Mail</th>
      <th>Losował(a)?</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
